[bumpversion]
current_version = 0.1.0
commit = False
tag = False
allow_dirty = True

[bumpversion:file:src/WxivMainFrame.h]

[bumpversion:file:CMakeLists.txt]

[bumpversion:file:vcpkg-maybe-later.txt]
